.work .steps {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.work .work_box {
    display: flex;
    justify-content: space-between;
    height: 368px;
}
.work_box .work_left {
    width: 644px;
}
.work_box img {
    width: 100%;
}
.work_box .work_right {
    width: 556px;
    display: flex;
    flex-direction: column;
}
.work_box .work_right h3 {
    margin-bottom: 15px;
}
.work_box .work_right button {
    margin-top: auto;
}